# Table of Contents
01. Importing Libraries
02. Importing Data
03. Comparing Customer Profiles by Region
04. Comparing Family Status and Departments

# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

# 02. Importing Data

In [2]:
# Create path
path = r'C:\Users\erj03\OneDrive\Documents\Achievment 4- Instacart Basket Analysis'

In [3]:
# Import data set
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'final2_dataframe.pkl'))

In [ ]:
# View dataframe
df.head()

In [ ]:
# Create list of columns
df.columns

# 03. Comparing Customer Profiles by Region

Compare your customer profiles with regions and departments. Can you identify a link between them? Customers may demonstrate different behaviors across regions, which could make this information important.

In [ ]:
# Create subsets of data for each region
northeast = df[df['region'] == 'Northeast']
midwest = df[df['region'] == 'Midwest']
south = df[df['region'] == 'South']
west = df[df['region'] == 'West']

## Average Days Between Orders

In [ ]:
# Look at ordering behavior of age/income profile in each region
northeast.groupby('age_income_loc')['days_since_prior_order'].agg(['mean'])

In [ ]:
midwest.groupby('age_income_loc')['days_since_prior_order'].agg(['mean'])

In [ ]:
south.groupby('age_income_loc')['days_since_prior_order'].agg(['mean'])

In [ ]:
west.groupby('age_income_loc')['days_since_prior_order'].agg(['mean'])

In all regions except for the midwest high income young adults average the fewest days inbetween orders. In the midwest the average most days inbetween orders.

In [ ]:
# Look at ordering behavior of family status profile for each region
northeast.groupby('family_status')['days_since_prior_order'].agg(['mean'])

In [ ]:
midwest.groupby('family_status')['days_since_prior_order'].agg(['mean'])

In [ ]:
south.groupby('family_status')['days_since_prior_order'].agg(['mean'])

In [ ]:
west.groupby('family_status')['days_since_prior_order'].agg(['mean'])

There are no significant differences in the average days between orders of the different family status profiles.

## Average Price Spent per Item

In [ ]:
# Look at average price of an item for age/income profiles in each region
northeast.groupby('age_income_loc')['prices'].agg(['mean'])

In [ ]:
midwest.groupby('age_income_loc')['prices'].agg(['mean'])

In [ ]:
south.groupby('age_income_loc')['prices'].agg(['mean'])

In [ ]:
west.groupby('age_income_loc')['prices'].agg(['mean'])

There is no significant difference in the average price spent on an item for the age/income profiles in different regions.

In [ ]:
# Look at average price of an item for family status profiles in each region
northeast.groupby('family_status')['prices'].agg(['mean'])

In [ ]:
midwest.groupby('family_status')['prices'].agg(['mean'])

In [ ]:
south.groupby('family_status')['prices'].agg(['mean'])

In [ ]:
west.groupby('family_status')['prices'].agg(['mean'])

There is no significant difference in the average price spent on an item for the family status profiles in different regions.

# 04. Comparing Family Status and Departments

In [4]:
mar_par = df[df['family_status'] == 'married, parent']
unmar_par = df[df['family_status'] == 'unmarried, parent']
unmar_cf = df[df['family_status'] == 'unmarried, childfree']

In [5]:
# Department value counts for married parent customers
mar_par['department_id'].value_counts()

department_id
4     6654218
16    3788598
19    2029589
7     1889052
1     1569050
13    1318340
3      821881
15     752030
20     735689
9      609663
17     522667
12     500862
14     493725
11     314254
18     297162
6      188466
5      105682
8       67513
21      48486
2       25205
10      24621
Name: count, dtype: int64

In [6]:
# Department value ocounts for unmarried parent customers
unmar_par['department_id'].value_counts()

department_id
4     449628
16    260787
19    137163
7     124629
1     108533
13     90272
3      56142
15     51190
20     50415
9      41702
17     35226
14     34731
12     33981
11     21312
18     20146
6      13074
5       8896
8       5620
21      3571
2       1911
10      1674
Name: count, dtype: int64

In [7]:
# Department value counts for unmarried childfree customers
unmar_cf['department_id'].value_counts()

department_id
4     2375445
16    1349362
19     720798
7      674442
1      557160
13     466757
3      294405
20     265145
15     264838
9      215262
17     180773
14     174577
12     174084
11     112006
18     106494
6       67713
5       39118
8       24583
21      17088
2        9175
10       8278
Name: count, dtype: int64

The top departments for all family status profiles are the same and match with the top departments for all customers.